/* General Styling */
body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #f7f8fa;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Admin Header */
.admin-header {
    background-color: #02404F;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.admin-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.logout-button {
    background-color: #C12033;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #a41a29;
}


/* Main Container */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Search Bar */
.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

#searchBar {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* User Section */
.user-section {
    background-color: #e6f7f9;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.user-header h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #02404F;
}

.toggle-icon {
    font-size: 18px;
    color: #02404F;
}

/* Collapsible Content */
.user-content {
    display: none;
    padding-top: 10px;
    font-size: 14px;
    color: #555;
}

/* Attempt Section Styles */
.attempt-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.attempt-section:hover {
    background-color: #e6f7f9;
    border-color: #02404F;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.attempt-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attempt-header p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.attempt-header .toggle-icon {
    font-size: 18px;
    color: #02404F;
    font-weight: bold;
}

.attempt-content {
    display: none;
    padding-top: 10px;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
